@model Ledger.Models.ViewModels.UnreconciledViewModel

@section scripts {
    <script type="text/javascript" src="@Url.Content("~/Scripts/transactions.js")"></script>
}

@{
    ViewBag.Title = "Unreconciled";
    var dummy = Model.Transactions.FirstOrDefault();
}

<h2>Unreconciled</h2>

<input type="hidden" id="ledgerId" value="@Model.Ledger"/>

<p>
    Current Balance: <strong><span id="currentBalance">@Model.CurrentBalance.ToString("N2")</span></strong>,
    Actual Balance: <strong>@Model.ActualBalance.ToString("N2")</strong>
</p>

<p>Reconciled date: <input type="text" id="reconcileDate" /></p>

<div class="table-responsive">
<table class="table table-striped table-bordered table-hover table-condensed transaction-grid">
    <tr>
        <th>
            @Html.DisplayNameFor(model => dummy.Id)
        </th>
        <th>
            @Html.DisplayNameFor(model => dummy.Desc)
        </th>
        <th>
            @Html.DisplayNameFor(model => dummy.Amount)
        </th>
        <th>
            @Html.DisplayNameFor(model => dummy.DateDue)
        </th>
        <th>
            @Html.DisplayNameFor(model => dummy.DatePayed)
        </th>
        <th>
            @Html.DisplayNameFor(model => dummy.DateReconciled)
        </th>
        <th>
            @Html.DisplayNameFor(model => dummy.Account)
        </th>
        <th>
            @Html.DisplayNameFor(model => dummy.Ledger)
        </th>
        <th>
            &nbsp;
        </th>
    </tr>

@foreach (var item in Model.Transactions) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Desc)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Amount)
        </td>
        <td>
            @if (item.DateDue.HasValue)
            {
                @item.DateDue.Value.ToString("M/d/yyyy")
            }
        </td>
        <td>
            @if (item.DatePayed.HasValue)
            {
                @item.DatePayed.Value.ToString("M/d/yyyy")
            }
        </td>
        <td>
            <button type="button" class="btn btn-default btn-sm doReconcile" data-id="@item.Id">
              <span class="glyphicon glyphicon-asterisk"></span> Reconcile
            </button>
        </td>
        <td>
            @Model.AccountsList.Single(l => l.Value == item.Account.ToString()).Text
        </td>
        <td>
            @Model.LedgerList.Single(l => l.Value == item.Ledger.ToString()).Text
        </td>
        <td>
            <button type="button" class="btn btn-default btn-sm editTransaction" data-id="@item.Id">
                <span class="glyphicon glyphicon-edit" title="Edit"></span>
            </button>
            <button type="button" class="btn btn-default btn-sm deleteTransaction" data-id="@item.Id">
                <span class="glyphicon glyphicon-remove-circle" title="Delete"></span>
            </button>
        </td>
    </tr>
}
    <tr>
        <td>
            &nbsp;
        </td>
        <td>
            <input type="text" name="desc" size="30" class="newtransaction" />
        </td>
        <td>
            <input type="text" name="amount" size="10" class="newtransaction" />
        </td>
        <td>
            <input type="text" name="datedue" size="10" class="newtransaction" />
        </td>
        <td>
            <input type="text" name="datepayed" size="10" class="newtransaction" />
        </td>
        <td>
            <input type="text" name="datereconciled" size="10" class="newtransaction" />
        </td>
        <td>
            @Html.DropDownList("account", Model.AccountsList, "Select...", new { name = "account", id="", @class="newtransaction" })
        </td>
        <td>
            @Html.DropDownList("ledger", Model.LedgerList, "Select...", new { name = "account", id="", @class="newtransaction" })
        </td>
        <td>
            <button type="button" id="submitNew" class="btn btn-default btn-sm newtransaction">
                <span class="glyphicon glyphicon-floppy-disk"></span>
            </button>
        </td>
    </tr>

</table>
</div>
