@model Ledger.Models.ViewModels.LedgersViewModel

@section scripts
{
    <script type="text/javascript" src="@Url.Content("~/Scripts/ledgers.js")"></script>
}

@{
    ViewBag.Title = "Index";
    var dummy = Model.Ledgers.FirstOrDefault();
}

<h2>Ledgers</h2>

<div class="table-responsive">
<table class="table table-striped table-bordered table-hover table-condensed transaction-grid">
    <tr>
        <th>
            @Html.DisplayNameFor(model => dummy.Ledger)
        </th>
        <th>
            @Html.DisplayNameFor(model => dummy.LedgerDesc)
        </th>
        <th>
            @Html.DisplayNameFor(model => dummy.IsActive)
        </th>
        <th>
            &nbsp;
        </th>
    </tr>
    
    @foreach(var ledger in Model.Ledgers)
    {
        <tr>
            <td>
                @Html.DisplayFor(i => ledger.Ledger)
            </td>
            <td>
                @Html.DisplayFor(i => ledger.LedgerDesc)
            </td>
            <td>
                @Html.DisplayFor(i => ledger.IsActive)
            </td>
            <td>
                <button type="button" class="btn btn-default btn-sm editLedger" data-id="@ledger.Ledger">
                    <span class="glyphicon glyphicon-edit"></span> Edit
                </button>
            </td>
        </tr>
    }
    <tr>
        <td>
            &nbsp;
        </td>
        <td>
            <input type="text" name="LedgerDesc" class="newLedger" />
        </td>
        <td>
            <input type="checkbox" name="IsActive" class="newLedger" />
        </td>
        <td>
            <button type="button" id="submitNewLedger" class="btn btn-default btn-sm">
                <span class="glyphicon glyphicon-floppy-disk"></span> Submit
            </button>
        </td>
    </tr>
</table>
</div>