@model Ledger.Models.ViewModels.NavViewModel

<div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
    <span class="sr-only">Toggle navigation</span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="/"><img src="@Url.Content("~/Content/logo25.png")" alt="Ledger"/></a>
</div>
<div class="collapse navbar-collapse">
    <ul class="nav navbar-nav">
        <li@(Model.SelectedNav == "Index" ? " class=active" : "")>@Html.ActionLink("Home", "Index", "Home")</li>
        @foreach (var ledger in Model.Ledgers)
        {
            <li@(Model.SelectedNav == ledger.LedgerDesc ? " class=active" : "")>@Html.ActionLink(ledger.LedgerDesc, "Unreconciled", "Home", new { id = ledger.Ledger}, null)</li>
        }
        <li@(Model.SelectedNav == "BillsDue" ? " class=active" : "")>@Html.ActionLink("Bills Due", "BillsDue", "Home")</li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
        <li class="dropdown@(Model.SelectedNav == "Admin" ? " active" : "")">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Admin <b class="caret"></b></a>
            <ul class="dropdown-menu">
                <li>@Html.ActionLink("Ledgers", "Index", "Ledger")</li>
                <li>@Html.ActionLink("Accounts", "Index", "Account")</li>
                <li>@Html.ActionLink("Import", "Index", "Import")</li>
            </ul>
        </li>
    </ul>
</div>
