@model Ledger.Models.Entities.Account

@{
    Layout = null;
}

<tr>
    <td>
        @Html.DisplayFor(modelItem => Model.Id)
    </td>
    <td>
        @Html.TextBoxFor(modelItem => Model.Desc, new { data_id = Model.Id, size = 20, id =""})
    </td>
    <td>
        @Html.TextBoxFor(modelItem => Model.Category, new { data_id = Model.Id, size = 20, id =""})
    </td>
    <td>
        @Html.TextBoxFor(modelItem => Model.Comment, new { data_id = Model.Id, size = 50, id =""})
    </td>
    <td>
        <button type="button" class="btn btn-default btn-sm saveEditedAccount" data-id="@Model.Id">
            <span class="glyphicon glyphicon-floppy-disk"></span> Save
        </button>
        <button type="button" class="btn btn-default btn-sm cancelEditingAccount" data-id="@Model.Id">
            <span class="glyphicon glyphicon-remove"></span> Cancel
        </button>
    </td>
</tr>
