@model Ledger.Models.Entities.LedgerEntity

@{
    Layout = null;
}

<tr>
    <td>
        @Html.DisplayFor(modelItem => Model.Ledger)
    </td>
    <td>
        @Html.TextBoxFor(modelItem => Model.LedgerDesc, new { data_id = Model.Ledger, size = 30, id =""})
    </td>
    <td>
        @Html.CheckBoxFor(modelItem => Model.IsActive, new { data_id = Model.Ledger, id =""})
    </td>
    <td>
        <button type="button" class="btn btn-default btn-sm saveEditedLedger" data-id="@Model.Ledger">
            <span class="glyphicon glyphicon-floppy-disk"></span>
        </button>
        <button type="button" class="btn btn-default btn-sm cancelEditingLedger" data-id="@Model.Ledger">
            <span class="glyphicon glyphicon-remove"></span>
        </button>
    </td>
</tr>
