@model Ledger.Models.ViewModels.UnreconciledViewModel

@foreach (var item in Model.Transactions) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Desc)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Amount)
        </td>
        <td>
            @if (item.DateDue.HasValue)
            {
                @item.DateDue.Value.ToString("M/d/yyyy")
            }
        </td>
        <td>
            @if (item.DatePayed.HasValue)
            {
                @item.DatePayed.Value.ToString("M/d/yyyy")
            }
        </td>
        <td>
            <button type="button" class="btn btn-default btn-sm doReconcile" data-id="@item.Id">
              <span class="glyphicon glyphicon-asterisk"></span> Reconcile
            </button>
        </td>
        <td>
            @Model.AccountsList.Single(l => l.Value == item.Account.ToString()).Text
        </td>
        <td>
            @Model.LedgerList.Single(l => l.Value == item.Ledger.ToString()).Text
        </td>
        <td>
            <button type="button" class="btn btn-default btn-sm editTransaction" data-id="@item.Id">
                <span class="glyphicon glyphicon-edit"></span>
            </button>
            <button type="button" class="btn btn-default btn-sm deleteTransaction" data-id="@item.Id">
                <span class="glyphicon glyphicon-remove-circle"></span>
            </button>
        </td>
    </tr>
}