@model Ledger.Models.ViewModels.AccountsViewModel

@section scripts
{
    <script type="text/javascript" src="@Url.Content("~/Scripts/accounts.js")"></script>
}

@{
    ViewBag.Title = "Index";
    var dummy = Model.Accounts.FirstOrDefault();
}

<h2>Accounts</h2>

<div class="table-responsive">
<table class="table table-striped table-bordered table-hover table-condensed transaction-grid">
    <tr>
        <th>
            @Html.DisplayNameFor(model => dummy.Id)
        </th>
        <th>
            @Html.DisplayNameFor(model => dummy.Desc)
        </th>
        <th>
            @Html.DisplayNameFor(model => dummy.Category)
        </th>
        <th>
            @Html.DisplayNameFor(model => dummy.Comment)
        </th>
        <th>
            &nbsp;
        </th>
    </tr>
    
    @foreach(var acct in Model.Accounts)
    {
        <tr>
            <td>
                @Html.DisplayFor(i => acct.Id)
            </td>
            <td>
                @Html.DisplayFor(i => acct.Desc)
            </td>
            <td>
                @Html.DisplayFor(i => acct.Category)
            </td>
            <td>
                @Html.DisplayFor(i => acct.Comment)
            </td>
            <td>
                <button type="button" class="btn btn-default btn-sm editAccount" data-id="@acct.Id">
                    <span class="glyphicon glyphicon-edit"></span> Edit
                </button>
            </td>
        </tr>
    }
    <tr>
        <td>
            &nbsp;
        </td>
        <td>
            <input type="text" name="Desc" class="newAccount" />
        </td>
        <td>
            <input type="text" name="Category" class="newAccount" />
        </td>
        <td>
            <input type="text" name="Comment" class="newAccount" size="50" />
        </td>
        <td>
            <button type="button" id="submitNewAccount" class="btn btn-default btn-sm">
                <span class="glyphicon glyphicon-floppy-disk"></span> Submit
            </button>
        </td>
    </tr>
</table>
</div>